@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://okdiario.com/img/2022/02/03/hallan-un-enjambre-de-misteriosos-filamentos-en-el-centro-de-la-galaxia.jpg');
}

header {
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

#space {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

#space:hover {
    font-size: 35px;
}

/* Estilos para los enlaces de navegación */
nav {
    display: flex;
}

nav a {
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
    padding-top: 10px;
    transition: 0.3s;
}

nav a:hover {
    font-size: 20px;
}

/* Estilos para el botón de logout */
#logout {
    background-color: #ea00ff93;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

#logout:hover {
    background-color: #cc0000;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.219);
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 24px;
    margin: 10px 0;
}

.product p {
    margin: 5px 0;
}
