@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
}
header{
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: black;
    margin-right: 40px; margin-left: 20px; margin-top: 23px;
    
}

a{
    color: black;
    padding-inline: 67px; padding-top: 17px; padding-bottom: 17px;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    font-size: 30px;
}

a#Login{
    border-style:groove;
    border-radius: 50px;
}
a.SocialRed {
    padding: 1%;
}
#Features{
    color: black;
}

#Pricing{
    color: black;
}
#space{
    padding-left: 20px;
}
#Content{
    color: black;
    padding: 11% 10% 4% 7%;
   }